                    <div class="col-md-4 sidebar ftco-animate">
                        <div class="sidebar-box">
                            <h3 class="heading mb-4">Om Eventur</h3>
                            <p>Vi laver event og ture i naturen for firmaer, vennegrupper og familier. 13 års erfaring med bål, værktøj og fællesskab.</p>
                            <p><a href="/om.html">Læs mere om os</a></p>
                        </div>
                        <div class="sidebar-box">
                            <h3 class="heading mb-4">Seneste indlæg</h3>
                            <ul class="list-unstyled">
                                <li class="mb-2"><a href="/blog/shelter-og-roedvin.html">Sådan rejser du en shelter, der holder</a></li>
                                <li class="mb-2"><a href="/blog/baal-og-mjoed.html">Bål uden tændstikker</a></li>
                                <li class="mb-2"><a href="/blog/vinterbadning.html">Vinterbadning uden at hade det</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h3 class="heading mb-4">Tags</h3>
                            <div class="tagcloud">
                                <a href="/blog/" class="tag">Natur</a>
                                <a href="/blog/" class="tag">Værktøj</a>
                                <a href="/blog/" class="tag">Mad over bål</a>
                                <a href="/blog/" class="tag">Vinter</a>
                                <a href="/blog/" class="tag">Hold</a>
                            </div>
                        </div>
                    </div>
