        <section class="ftco-section bg-light" id="priser">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <h2>Betalende gæster</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 text-center ftco-animate">
                        <div class="pricing p-4 py-5">
                            <div class="icon mb-2"><span class="icon-tag"></span></div>
                            <h3 class="mb-3">Medlem af Foretagsomheden</h3>
                            <p class="mb-4">Er du allerede meldt ind i Foretagsomheden, betaler du kun et symbolsk beløb – du har prøvet det hele før.</p>
                            <p class="price mb-4 py-3">
                                <span class="mr-2 currency">DKK 100</span>
                                <span class="per">for hele turen</span>
                            </p>
                            <div class="button-degree button-degree">
                                <span><a href="/hold.html" class="btn px-4 py-3">Tilmeld nu</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 text-center ftco-animate">
                        <div class="pricing p-4 py-5">
                            <div class="icon mb-2"><span class="icon-star"></span></div>
                            <h3 class="mb-3">Ny deltager</h3>
                            <p class="mb-4">Har du ikke været med os før, får du kæmpe udbytte af en eventur. Der er et rituelt forløb, du går igennem.</p>
                            <p class="price mb-4 py-3">
                                <span class="mr-2 currency">DKK 225</span>
                                <span class="per">for hele turen</span>
                            </p>
                            <div class="button-degree button-degree">
                                <span><a href="/hold.html" class="btn px-4 py-3">Tilmeld nu</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 text-center ftco-animate">
                        <div class="pricing p-4 py-5">
                            <div class="icon mb-2"><span class="icon-users"></span></div>
                            <h3 class="mb-3">Holdtur</h3>
                            <p class="mb-4">Er I en håndfuld venner, der kender hinanden, er der rabat på turen. Vi springer ryste-sammen-ritualet over. Minimum 5 personer.</p>
                            <p class="price mb-4 py-3">
                                <span class="mr-2 currency">DKK 1119</span>
                                <span class="per">for en hel tur</span>
                            </p>
                            <div class="button-degree button-degree">
                                <span><a href="/hold.html" class="btn px-4 py-3">Tilmeld nu</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
