        <section class="ftco-section" id="ture">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5 ftco-animate">
                    <div class="col-md-7 text-center heading-section">
                        <h2>Tag med på tur nu</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ftco-animate">
                        <div class="classes">
                            <a href="/ture.html" class="classes-img mb-3" style="background-image: url(/assets/images/produkt-shelter.jpg);" aria-label="Shelter og rødvin"></a>
                            <div class="text text-center">
                                <h3><a href="/ture.html">Shelter og rødvin</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="classes">
                            <a href="/ture.html" class="classes-img mb-3" style="background-image: url(/assets/images/produkt-hammock.jpg);" aria-label="Hængekøje og hjemmelavet øl"></a>
                            <div class="text text-center">
                                <h3><a href="/ture.html">Hængekøje og hjemmelavet øl</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="classes">
                            <a href="/ture.html" class="classes-img mb-3" style="background-image: url(/assets/images/produkt-okser.png);" aria-label="Økser, hulebyg, bål og mjød"></a>
                            <div class="text text-center">
                                <h3><a href="/ture.html">Økser, hulebyg, bål og mjød</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 ftco-animate">
                    <div class="col-md-12 text-center button-degree button-degree-outline-primary">
                        <p><a href="/ture.html" class="btn px-5 py-4">Se alle ture</a></p>
                    </div>
                </div>
            </div>
        </section>
