        <section class="ftco-section testimony-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <h2>Hvad siger folk?</h2>
                    </div>
                </div>
                <div class="row no-gutters ftco-animate justify-content-center">
                    <div class="carousel owl-carousel col-md-9">
                        <div class="item text-center">
                            <div class="testimony-wrap p-5">
                                <div class="user-img mb-4" style="background-image: url(/assets/images/udtalelse-villads.jpg)"></div>
                                <div class="text">
                                    <p class="mb-5"><strong>"</strong>Før var jeg tit træt og deprimeret, men så prøvede jeg Eventur – og nu er jeg glad for sauna, stjernekiggeri og skovhugning.</p>
                                    <p class="name">Villads Claes</p>
                                    <span class="position">gæst på en tur</span>
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap p-5">
                                <div class="user-img mb-4" style="background-image: url(/assets/images/udtalelse-Filip.jpg)"></div>
                                <div class="text">
                                    <p class="mb-5"><strong>"</strong>Nogen skrev til mig på couchsurfing, og det var derfor, jeg kom her. Det er den bedste måde at bruge sin tid på.</p>
                                    <p class="name">Filip Revez</p>
                                    <span class="position">Læge</span>
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap p-5">
                                <div class="user-img mb-4" style="background-image: url(/assets/images/udtalelse-gittejohanne.jpg)"></div>
                                <div class="text">
                                    <p class="mb-5"><strong>"</strong>De her drenge har lært os utroligt meget om natur og værktøj. Vi var ikke sikre på, at vi kunne – men nu kan vi.</p>
                                    <p class="name">Johanne &amp; Gitte</p>
                                    <span class="position">damer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
