        <section class="ftco-section bg-light" id="vaerter">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5 ftco-animate">
                    <div class="col-md-7 text-center heading-section">
                        <h2>Dine nye bedste venner</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ftco-animate">
                        <div class="trainer">
                            <a href="/vaerter.html" class="trainer-img mb-4" style="background-image: url(/assets/images/Personale-Rolf.jpg);" aria-label="Rolf Skytte"></a>
                            <div class="text text-center">
                                <h3 class="mb-3">Rolf Skytte<br><span class="position">Hængekøjeekspert</span></h3>
                                <p>Lædersko, stenalderteknologi, nøjsomhed og historiefortælling.</p>
                                <div class="button-degree button-degree-dark-bg">
                                    <span><a href="/vaerter.html" class="btn px-4 py-3">Se alle kompetencer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="trainer">
                            <a href="/vaerter.html" class="trainer-img mb-4" style="background-image: url(/assets/images/personale-Villads.jpg);" aria-label="Villads Claes"></a>
                            <div class="text text-center">
                                <h3 class="mb-3">Villads Claes<br><span class="position">Aktivitetsekspert</span></h3>
                                <p>Uudtømmelig idébank, konkurrencer og formålsløs værktøjsbrug.</p>
                                <div class="button-degree button-degree-dark-bg">
                                    <span><a href="/vaerter.html" class="btn px-4 py-3">Se alle kompetencer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="trainer">
                            <a href="/vaerter.html" class="trainer-img mb-4" style="background-image: url(/assets/images/personale-soren.jpg);" aria-label="Søren Hvalsø"></a>
                            <div class="text text-center">
                                <h3 class="mb-3">Søren Hvalsø<br><span class="position">Naturelsker</span></h3>
                                <p>Uddannet biolog, masser af charme og begge ben solidt plantet i undergrunden.</p>
                                <div class="button-degree button-degree-dark-bg">
                                    <span><a href="/vaerter.html" class="btn px-4 py-3">Se alle kompetencer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
