        <section class="ftco-section bg-light" id="samarbejd">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-5">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <h2>Samarbejd med os</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-3 py-4 d-block text-center">
                            <div class="icon mb-3"><span class="flaticon-gym-1"></span></div>
                            <div class="media-body">
                                <h3 class="heading">Vælg en stemning</h3>
                                <p>Vi får de dybe samtaler i gang, de fede fester, de lange bålaftener og de inderste følelser i spil. Du bestemmer tonen – vi sørger for rammen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-3 py-4 d-block text-center">
                            <div class="icon mb-3"><span class="flaticon-yoga"></span></div>
                            <div class="media-body">
                                <h3 class="heading">Sammensat program</h3>
                                <p>Vi har 13 års erfaring med udfordrende og nede-på-jorden-aktiviteter af enhver slags. Programmet skræddersys til netop jeres gruppe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-3 py-4 d-block text-center">
                            <div class="icon mb-3"><span class="flaticon-gym"></span></div>
                            <div class="media-body">
                                <h3 class="heading">Udstyrspakke</h3>
                                <p>Vi har udstyr til alle genrer af eventyr. Alt fra udendørskøkken og overnatning til værktøj, pynt og festudstyr.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ftco-animate">
                    <div class="col-md-12 text-center button-degree button-degree-dark-bg">
                        <p><a href="/kontakt.html" class="btn px-5 py-4">Tag en snak med os</a></p>
                    </div>
                </div>
            </div>
        </section>
